version: '3'

services:
  app:
    container_name: cityhelp-frontend
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "3030:3000"
    environment:
      - NODE_ENV=production
    
