name: Despliegue Next.js Landing

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout del código
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'

    - name: Instalar y Construir
      run: |
        npm ci
        npm run build
      # Al tener "output: export" en next.config.js, esto creará la carpeta 'out'

    - name: Desplegar a Nginx
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.SSH_KEY }}
        port: 22
        source: "out/*"      # <--- CAMBIO IMPORTANTE: Next.js exporta a 'out'
        target: "/var/www/mi-landing"
        strip_components: 1  # Saca los archivos de la carpeta 'out'

